.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .button-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
